body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.content {
    display: flex;
    flex-grow: 1;
}

.top_page {
    width: 100%;
    height: 20%;
}

.content_main_login{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.login_content {
    flex-grow: 1;
}

.login_content {
    display: flex;
    flex-wrap: wrap;
}


.login_left,
.login_center,
.login_right {
    flex-basis: 33.33%;
    flex-grow: 1;
}

.bottom_page {
    width: 100%;
    height: 20%;
}
#corpo{
    background-color: crimson;
}

.login_center{
    background: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

